* text=auto eol=lf

*.js linguist-language=JavaScript
*.mjs linguist-language=JavaScript
*.au3 linguist-language=AutoIt
*.py linguist-language=Python

*.zip binary linguist-language=JavaScript

server/AutoIt3/** linguist-vendored
server/crop/ffmpeg/** linguist-vendored

*.md linguist-documentation
*.txt linguist-documentation

*.png binary

server/crop/crop-arm64 linguist-language=Python linguist-detectable=true
server/crop/crop-x86_64 linguist-language=Python linguist-detectable=true
server/crop/crop.exe linguist-language=Python linguist-detectable=true

update/upd linguist-language=Python linguist-detectable=true
update/upd.exe linguist-language=Python linguist-detectable=true
